* {
  font-family: 'Poppins', sans-serif;
  color: black;
  text-align: center;
}

body {
  background: linear-gradient(to bottom, rgb(156, 255, 136), rgb(34, 197, 209), lavender);
  min-width: 260px;
}

header h1 {
  margin-bottom: 12rem;
}

#red2, #txt {
  color: #D93025;
}

#red2, #validate, .box, .box p, .box h1, form, label {
  background: white;
}

#questions {
  margin-bottom: 6rem;
  height: fit-content;
}

.box {
  border-radius: 1rem;
  width: 50vw;
  margin: auto;
  margin-top: 6rem;
  padding: 1rem;
  line-height: 2rem;
  transition: all 0.4s;
}

.box:hover {
  transform: scale(1.04);
  box-shadow: 10px 10px 20px black;
}

.box p {
  text-align: right;
}

.box h1, form {
  text-align: justify;
}

.box h1 {
  font-size: large;
}

form input {
  cursor: pointer;
}

form input {
  margin-top: 2rem;
}

label {
  word-break: break-word;
  border-radius: 0.4rem;
  padding: 0 0.4rem;
}

#final {
  margin: 1rem 0 10rem;
}

#validate {
  border-radius: 2rem;
  margin-bottom: 4rem;
  font-weight: 600;
  padding: 1rem;
  opacity: 0.7;
  border: 0.2rem solid gray;
  cursor: pointer;
  transition: all 0.3s;
}

#validate:focus {
  outline-style: none;
}

#validate:hover {
  opacity: 1.2;
  border-color: black;
}

#txt {
  font-size: 1.4rem;
  margin-bottom: 4rem;
}

#time {
  margin-bottom: 6rem;
}

footer {
  font-weight: 300;
}

a {
  transform: scale(1.03);
}

a:hover, a:focus {
  color: blue;
}

@media screen and (max-width: 600px) {
  .box {
    width: auto;
  }
  
  .box:hover {
    transform: none;
    box-shadow: none;
  }
}