/* Global ============================= */
* {
  background-color: rgb(145, 216, 131);
}

/* Header ============================= */
header {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-bottom: 12rem;
}

#red1 {
  color: red;
  background: rgb(145, 216, 131);
}

/* Questions ============================= */
#red2 {
  color: red;
  background: white;
}

#questions {
  text-decoration: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-bottom: 6rem;
}

.box {
  text-align: center;
  background: white;
  border-radius: 1.2rem;
  width: auto;
  height: auto;
  padding: 1.4rem;
  line-height: 40px;
  font-family: 'Poppins', sans-serif;
}

.box p {
  background: white;
  text-align: start;
}

.box h1 {
  background: white;
  text-align: left;
}

form {
  background: white;
  text-align: left;
}

input {
  background: white;
}

label {
  background: white;
}

/* Final ============================= */
#final {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 10rem;
  font-family: 'Poppins', sans-serif;
}

#final span {
  font-weight: 700;
  font-size: x-large;
}

#validate {
  border-radius: 2rem;
  width: 10rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 1rem;
  opacity: 0.7;
  border-style: solid;
  border-width: 0.2rem;
}

#validate:hover {
  opacity: 1.2;
  border-color: darkgreen;
}

#txt2 {
  color: red;
  font-size: 1.4rem;
}

/* Footer ============================= */
footer {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}